{% extends "base.html" %} {% block head_css %}
<!--Login css-->
<link
  rel="stylesheet"
  type="text/css"
  href="{{url_for('static', filename='styles/login.css')}}"
/>

{% endblock %} {% block content %}

<!--To retrieve Flash messages-->
{% include "flash_message.html" %}

<div class="container">
  <form
    class="form-box"
    action="/user/login"
    method="POST"
    onsubmit="login(event)"
  >
    <h2 class="title">Login</h2>

    <label for="email">Email</label>
    <input type="text" id="email" name="email" required autocomplete="on" />
    <br />
    <label for="password">Password</label>
    <input
      type="password"
      id="password"
      name="password"
      required
      autocomplete="on"
    />

    <!-- Within the form -->
    <div class="field">
      <div class="checkbox-container">
        <label class="checkbox">
          <input type="checkbox" name="remember" />
          Remember me
        </label>
      </div>
      <div class="reset-container">
        <a class="reset" href="reset_password_request">Reset Password</a>
      </div>
    </div>

    <div class="btn-field">
      <button type="submit">Login</button>
    </div>

    <br />
    <div class="register">
      <a href="{{ url_for('main_bp.register') }}">Create new account</a>
    </div>
  </form>
</div>

{% endblock %}
