/* General resets */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body, html {
  height: 100%;
  font-family: 'Arial', sans-serif;
}

/* Container */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100% - 20px);
  padding: 15px;
}

/* Form box */
.form-box {
  background-color: #fff;
  padding: 40px;
  margin: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  width: 100%;
  max-width: 400px;
}

.title {
  margin-bottom: 20px;
  text-align: center;
  color: #333;
}

.form-box label {
  display: block;
  margin-bottom: 5px;
}

.form-box input[type="text"],
.form-box input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Checkbox */
.checkbox {
  margin-bottom: 20px;
}

.checkbox input {
  margin-right: 5px;
}

.field {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.checkbox-container {
  /* This ensures the checkbox label aligns nicely with the reset link */
  display: flex;
  align-items: center;
}

.reset-container a {
  text-decoration: none;
  color: rgb(189, 23, 23);
  padding-bottom: 5px;

}


.register {
  margin-top: -20px;
  text-align: center;
}

.register a {
  color: rgb(189, 23, 23);
  text-decoration: none;
}

/* Button */
.btn-field {
  text-align: center;
}

.btn-field button {
  background-color: #2e4053;
  color: white;
  border: none;
  padding: 9px 140px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
}

.btn-field button:hover {
  background-color: #0056b3;
}
